{% extends "base.html" %}

{% block head %}
<!-- Custom -->
<link rel="stylesheet" href="{{ MEDIA_URL }}css/download_installers.css" />
<script type="text/javascript" src="{{ MEDIA_URL}}js/qrcode.min.js"></script>


<script type="text/javascript">
  $(document).ready(function(){

    // Define a mapping between DOM elements (by class) and their URL
    var element_url_map = {
      ".app-playstore-url" : "https://play.google.com/store/apps/details?id=com.sensibility_testbed&referrer=utm_content%3D{{ installers.android }}",
      //".app-playstore-url" : "https://play.google.com/store/apps/details?id=com.sensibility_testbed&referrer=utm_source%3Dawesomeness%26utm_medium%3Ddownload%26utm_content%3D{{ installers.android }}%26utm_campaign%3Dnyu?",
      ".app-apk-url" : "https://github.com/aaaaalbert/sensibility-bindump/raw/master/app-debug.apk",
      ".custominstaller-url" : "{{ installers.android }}"
    }


    // Iterate over the map to append QR code and link to URL
    // NOTE: WE expect the elements to have to children, a div with class
    // .qr code, and an anchor element
    $.each(element_url_map, function(element, url) {

      // Add QR codes
      new QRCode($(element + " .qrcode").get(0), {
        text: url,
        width: 200,
        height: 200
      });
      // Set links
      $(element + " a").attr("href", url);
    });
    // The apk URL is for developers, let's show them the whole url as
    // button text
    $(".app-apk-url a").html(element_url_map[".app-apk-url"]);

  });

</script>

{# comment: On the fast lane we have installers and keys on one page #}
{% if fast_lane %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/download_keys.css" />
<script type="text/javascript" src="{{ MEDIA_URL }}js/keys.js"></script>
{% endif %}
{% endblock %}

{% block content %}
<!-- Un-Django-comment the block below to style the page differently depending on whether the person that built this installer sees it (`user_built==True`), or the person comes in via a shared link. We currently disable this to always show a QR code for this page. -->
{% comment %}
<div class="section center">
  {% if user_built %}
    <h2>Your installers are ready!</h2>
    <p>Bookmark this page to come back later, or share this URL with others:</p>
    <div id="url"><span class="round_shadow">
      <a href="{{ share_url }}">{{ share_url }}</a>
    </span> Right click on the URL to copy the address.</div>
  {% else %}
    <h2>Thanks for contributing!</h2>
    <p>The installers below have been customized by a Seattle user. By running these installers, 10% of your computing resources will be donated to an experiment being run by that user.</p>
  {% endif %}
</div>
{% endcomment %}


<div class="section">
  <h2>Get Sensibility Testbed from Google Play</h2>
    <p>Use below button (or QRcode) to install the app from Google Play. That's really all you need to get Sensibility Testbed onto your phone. Once you start the app, everything will be setup for you. All that's left is to download your experimenter keys (next section) and you are ready to perform experiments!</p>
    <p class="note">Note: Sensibility Testbed currently only runs on ARM powered devices with Android 5 (&quot;Lollipop&quot;) or higher. We are striving to support more platforms in the future!</p>
    <div class="app-playstore-url center">
      <div class="qrcode"></div>
      <a class="button" href="">Download app from Google Play</a>
    </div>
</div>

{% if fast_lane %}
<div class="section">
  <h2>Download Experimenter Keys</h2>
  <p>We have generated ZIP archives of cryptographic keys associated with your app installation. You need these keys to access the sandbox running on your phone from the experimenter interface. More on that later. For now, just click on the buttons below to download the keys to your computer.</p>
  <div class="center">
    <span id="private_keys">
      <a id="download_private_keys" class="button key {% if keys_downloaded.private %}checked{% endif %}" href="{% url 'download-keys' build_id=build_id key_type='private' %}">Download private keys</a>
    </span>
    <span id="public_keys">
      <a id="download_public_keys" class="button key {% if keys_downloaded.public %}checked{% endif %}" href="{% url 'download-keys' build_id=build_id key_type='public' %}">Download public keys</a></span>
  </div>
</div>
{% endif %} {# comment: endif fast_lane #}



<div class="section">
  <h2>Installation Alternative (manual)</h2>
  <p>For development purposes we also provide a manual installation procedure. This includes installing the app from an .APK file, and downloading and installing the custom installer from a URL specified in the app. Perform the following steps on your Android device:</p>

  <ol>
    <li>Configure your device to allow installation from untrusted sources.</li>
    <li>Download the .APK file using the button (or QRcode) below.</li>
    <li>Open the downloaded APK to install it.</li>
    <li>The app will tell you that the custom installer is missing. This is because you did not install it via Google Play.</li>
    <li>Now click the debug tap in the app and paste the custom installer URL from below into the textbox. Again, you may scan the QR code to save you the typing.</li>
    <li>Tap the &quot;Install&quot; button to benchmark your device and configure Sensibility Testbed's cryptography for your device. Depending on the speed of your device, the process can take a minute or two to finish.</li>
    <li>Finally, tap the &quot;Start&quot; button to start the Sensibility Testbed node manager.</li>
  </ol>

  <div class="center">
    <div class="app-apk-url half">
      <h3>.APK file URL</h3>
      <div class="qrcode"></div>
      <a class="share-url" href="">Download .APK file</a>
    </div><div class="custominstaller-url half">
      <h3>Custom Installer URL</h3>
      <div class="qrcode"></div>
      <a class="share-url" href="">{{ installers.android }}</a>
    </div>
  </div>

</div>


{% endblock %}
