/*****************************************************************
<File Name>
  download_installers.css

<Started>
  December 2010

<Author>
  Alex Hanson

<Purpose>
  Provides styling for the installer download page of the Custom
  Installer Builder.
*****************************************************************/



.share-url {
  display: inline-block;
  padding: 0.4em;
  margin: 0.4em;

  background-color: #fdf3d0;
  text-decoration: none;

  border: 1px solid #f7e7ad;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  /* Break line on small screen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}

#qrcode img {
  margin: 2em auto;
}


table#downloads {
  margin-left: 5%;
  
  border-spacing: 0;
  border-collapse: collapse;
}

table#downloads tr td {
  font-size: 11pt;
  padding: 2.5em 0;
  
  vertical-align: top;
}

table#downloads tr td:first-child {
  padding-right: 4em;
  
  text-align: center;
}

table#downloads a.button {
  margin: 0 auto;
}

table#downloads img {
  margin-bottom: 1.5em;
}

ol {
  list-style-type: decimal;
  
  padding-left: 3em;
  margin-bottom: 1em;
}

code {
  display: inline-block;
  border: 1px solid #ddd;
  
  background-color: #fcfcfc;
  margin: 0.4em;
  padding: 0.4em;
  
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}