/*****************************************************************
<File Name>
  download_installers.css

<Started>
  December 2010

<Author>
  Alex Hanson

<Purpose>
  Provides styling for the installer download page of the Custom
  Installer Builder.
*****************************************************************/



.share-url {
  display: inline-block;
  padding: 0.4em;
  margin: 0.4em;

  background-color: #fdf3d0;
  text-decoration: none;

  border: 1px solid #f7e7ad;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  /* Break line on small screen */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}


.qrcode img {
  margin: 1em auto;
}

ol {
  list-style-type: decimal;

  padding-left: 3em;
  margin-bottom: 1em;
}

.half {
  /*float: left;*/
  display: inline-block;
  width: 50%;
  vertical-align:top;
}